{block content}
<br>
<div class="menu_box_left">
	<a n:href="Cech:showAll" class="btn btn-primary btn-sm active" role="button">Späť na prehľad cechu</a>
</div>

<h2 style="color: cornflowerblue">Úprava cechových údajov</h2>

{control editCechForm}