{block content}
    <div style="text-align: center"> 
        <a n:href="Cech:showAll 501" n:if="$logged" style = "align: left" class="btn btn-primary btn-sm active" role="button">CVC</a>
        <a n:href="Cech:showAll 502" n:if="$logged" style = "align: left" class="btn btn-primary btn-sm active" role="button">Alcatraz</a>
    </div>
{/block}
